.hero-wrapper {
  display: flex;
  /* flex-direction: column;
 flex-wrap: wrap;
  align-items: flex-start;  */
  width: 1280px; /*  ширина блока */
  /* margin: 0 auto;  */
}
.hero-slider {
  /* display: flex;
  position: relative; */
  flex-grow: 1; /* розтягування елемента */
  height: 485px;
}

.hero__side-items {
  flex-basis: 426px; /* ширина */
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.slider-item {
  /* flex-basis: 50%; */
}
/* ========================================================== */

.hero-slider__image {
  height: 100%;
}
.hero-slider__description {
  position: absolute;
  top: 167px;
  left: 117px;
}

.hero-slider__title {
  text-align: right;
  margin: 0;
  width: 269px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.hero-slider__price {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.22;
  text-align: right;
  letter-spacing: -0.02em;
}

.hero-slider__price::before {
  content: '€';
  width: 30px;
  height: 17px;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  text-align: right;
  letter-spacing: -0.02em;
  vertical-align: super;
  text-transform: uppercase;
  margin-right: 10px;
}

.hero__bottom-items {
  display: flex;
  /* flex-wrap: wrap; */
}

.slider-item {
  position: relative;
}
.slider-item__description {
  position: absolute;
  top: 66px;
  left: 50px;
}

.slider-item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  width: 202px;
}

.slider-item__price {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.slider-item__price::before {
  content: '€';
  width: 26px;
  height: 15px;
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: right;
  vertical-align: super;
  text-transform: uppercase;
  margin-right: 6px;
}
