<li class="filter-item item">
    <button class="filter-item-btn">Недвижимость</button>
</li>
<li class="filter-item item">
    <button class="filter-item-btn">Транспорт</button>
</li>
<li class="filter-item item">
    <button class="filter-item-btn">Работа</button>
</li>
<li class="filter-item item">
    <button class="filter-item-btn">Электроника</button>
</li>
<li class="filter-item item">
    <button class="filter-item-btn">
        Бизнес и услуги
    </button>
</li>
<li class="filter-item item">
    <button class="filter-item-btn">
        Отдых и спорт
    </button>
</li>
<li class="filter-item item">
    <button class="filter-item-btn">
        Отдам бесплатно
    </button>
</li>
<li class="filter-item item">
    <button class="filter-item-btn">Обмен</button>
</li>