{{#each this}}
<li class="filter-item item">
    {{#each data}}
    <a href="#" class="filter-item-btn">
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        {{this}}</a>
    {{/each}}
</li>
{{/each}}