{{#each this}}
{{#each data}}
<li class="filter-item item">
    <a href="#" class="filter-item-btn">
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        <span class="magic-span"></span>
        {{this}}</a>
</li>
{{/each}}
{{/each}}