.header {
  background-color: #112437;
  padding: 21px 0px;
}

.header__logo {
  display: block;
  cursor: pointer;
  width: 64px;
  height: 40px;
  background: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.mobile-buttons-wrapper {
  display: flex;
  position: absolute;
  height: 24px;
  box-sizing: border-box;
  left: 6.7vw;
  top: 27.8vh;
}

.close-menu {
  background: url(../images/close/close-24px.svg);
  border: none;
  outline: none;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-24px, 24px);
}

@media (max-width: 767px) {
  .header {
    min-height: 92px;
  }

  .tablet-upper-wrapper {
    display: none;
  }

  .tablet-bottom-wrapper {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 34px 0;
  }

  .tablet-upper-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .header__logo {
    margin: 0 266px 0 0;
  }

  .header__create-ad-btn {
    display: block;
    font-family: 'MontserratBold', sans-serif;
    font-size: 14px;
    letter-spacing: 0.28px;
    cursor: pointer;
    width: 200px;
    height: 44px;
    background-color: #ff6b08;
    color: #fff;
    border: none;
    outline: none;
    transition: box-shadow 0.5s linear;
  }

  .header__create-ad-btn:hover {
    box-shadow: 0px 1px 4px 4px rgba(129, 129, 129, 0.2);
    transform: scale(1.04);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 0);
  }

  .tablet-bottom-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1280px) {
  .header__logo {
    margin-right: 35px;
  }

  .header__create-ad-btn {
    width: 233px;
  }

  .desktop-upper-wrapper .header__logo {
    margin-right: 36px;
  }

  .desktop-upper-wrapper {
    margin-bottom: 24px;
  }
}
